<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="chat"></div>
    <div class="form">
        <input type="text" placeholder="Your message...">
        <button onclick="send_message()">SEND</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script>
        var socket = io()
        socket.on('connect', () =>{
            console.log('Im on...')
            socket.emit('from chat', "Connecting to the server...")
        });

        function send_message(){
            let form = document.querySelectorAll('input');
            socket.emit('chatting', form[0].value)
            console.log(form[0].value)
        }

        socket.on('start_chat', function(msg){
            alert(msg)
            var tag = document.createElement('p');
            var text = document.createTextNode(msg);
            tag.appendChild(text);
            document.getElementById('chat').appendChild(tag)
            }
        )

        socket.on('chatroom', function(msg){
            var tag = document.createElement('p');
            var text = document.createTextNode(msg);
            tag.appendChild(text);
            document.getElementById('chat').appendChild(tag)
            }
        )


    </script>
</body>
</html>