<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Chat</title>
</head>
<body>
    <main>
        <section id="login">
            <input id="username" type="text" placeholder="username"><br><br>
            <button onclick="submit_data()">Send</button>
        </section>
        <div class="conteiner">
            <section class="status">
                <section class="rooms">
                    <h4>Rooms</h4>
                    <hr>
                    <p>Python</p>
                    <p>JavaScript</p>
                    <p>Css</p>
                </section>

                <section class="active" id="active">
                    <h4>Online</h4>
                </section>
            </section>

            <section id="chat">
                <div id="chat-msg"></div>

                <form class="form">
                    <input type="text" id="msg" placeholder="Message...">
                    <button id="btn" onclick="send_message()">Send</button>
                </form>
            </section>

        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>

    <script>
        var socket = io();
        socket.on('user_added', function(msg){
            go_to_chat(msg)
        }
    )

    function submit_data(){
        let form = document.getElementById('username').value;
        if (form == ''){
            alert('Provide a username...');
            return false
        } else{
            socket.emit('entering', {user: form})
        }
    }
    
    function send_message(){
        let msg = document.getElementById('msg').value;
        if (msg == ''){
            alert('Empty messages are not allowed!');
            return false
        } else {
            socket.emit('chatting', msg)
        }
    }

    block_events('btn')


    function block_events(id){
            let btn = document.getElementById(id)
            btn.addEventListener('click', function(event){
            event.preventDefault()
        })
    }



    function go_to_chat(msg){
        var conteiner = document.getElementsByClassName('conteiner')[0]
        document.getElementById('login').style.display = 'none';
        
        if (screen.width < 600){
            conteiner.style.display = 'block';
        } else {
            conteiner.style.display = 'flex'
        }
        
        var tag = document.createElement('p');
        var text = document.createTextNode(msg);
        tag.appendChild(text);
        tag.id = 'active'
        document.getElementById('active').appendChild(tag)
    }

    socket.on('chatroom', function(msg){
        var tag = document.createElement('p');
        var text = document.createTextNode(msg);
        tag.id = 'u-msg'
        tag.appendChild(text);
        document.getElementById('chat-msg').appendChild(tag)
        }
    )

    socket.on('leaving', (msg) =>{
        var tag = document.createElement('p');
        var text = document.createTextNode(msg);
        tag.appendChild(text);
        document.getElementById('chat').appendChild(tag)
    })

    socket.on('historic', function(msg){
        for (let m = 0; m < msg.length; m++){
            var tag = document.createElement('p');
            var text = document.createTextNode(msg[m]);
            tag.id = 'u-msg'
            tag.appendChild(text);
            document.getElementById('chat-msg').appendChild(tag)
        }
    })
    </script>
</body>
</html>